<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYFDownloaderDemo_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AA553DF1E8417C000B2E320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA553F31E8417C000B2E320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA553FE1E8417C100B2E320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
